body {
  font-size: 16px;
  line-height: 1;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  word-break: keep-all;   /* 띄어쓰기 단위로 줄바꿈 처리하기(한글 단어 줄바꿈 처리) */
}

/* Header */
header {

}
header .inner {

}
header ul.menu {

}
header ul.menu li {

}
header ul.menu li a {
}
