html.fixed {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

body {
  height: 10000px;
  font-size: 16px;
  line-height: 1;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  word-break: keep-all;
  /* 띄어쓰기 단위로 줄바꿈 처리하기(한글 단어 줄바꿈 처리) */
  color: #1D1D1D;
}

a {
  color: #1D1D1D;
  text-decoration: none;
}



/* Header */
header {
  background-color: #3a3a3a;
}

header .inner {
  max-width: 1020px;
  margin: 0 auto;
  position: relative;
}

header ul.menu {
  height: 44px;
  display: flex;
  justify-content: space-between;
}

header ul.menu>li {
  display: flex;
  position: relative;
}

header ul.menu>li>a {
  padding: 10px;
  font-size: 11px;
  display: flex;
  align-items: center;
  color: #f5f5f5;
  opacity: 0.8;
  text-decoration: none;
}

header ul.menu>li.apple-logo>a,
header ul.menu>li.search-starter>a,
header ul.menu>li.basket-starter>a {
  width: 14px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center 13px;
}

header ul.menu>li.apple-logo>a {
  background-image: url("../images/header_apple.svg");
}

header ul.menu>li.search-starter>a {
  background-image: url("../images/header_search.svg");
}

header ul.menu>li.basket-starter>a {
  background-image: url("../images/header_bag.svg");
}

header ul.menu>li>a:hover {
  opacity: 1;
}


/* Header / Menu / Basket */

header .basket {
  /* display: none;         처음엔 안보이게 (display:none를 쓰면 애니메이션 효과를 줄 수 없다.) */
  visibility: hidden;
  /* 화면에 안보이게끔 한다. */
  width: 290px;
  padding: 10px 20px;
  border: 1px solid #D2D2d2;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #FFF;
  position: absolute;
  top: calc(100% + 4px);
  right: -6px;
  transition: .4s;
  opacity: 0;
}

header .basket.show {
  /* 장바구니를 보여주기 위한 코드 */
  visibility: visible;
  opacity: 1;
}

header .basket .arrow {
  /* basket 상자의 화살표 박스*/
  width: 20px;
  height: 10px;
  position: absolute;
  /* 부모요소가 absolute로 이미 설정*/
  overflow: hidden;
  /* 화살표 박스 밖으로 나온 부분은 삭제 */
  top: -10px;
  right: 12px;
}

header .basket .arrow::before {
  /* 화살표 만들기*/
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid #D2D2d2;
  background-color: #FFF;
  transform: rotate(45deg);
  /* transform을 통해 요소 변화 */
  transform-origin: 0 0;
  position: absolute;
  top: 0;
  left: 50%;
}

header .basket .message {
  padding: 30px 0;
  font-size: 13px;
  color: #6E6E6E;
  text-align: center;
}

header .basket ul {
  margin-top: 10px;
}

header .basket ul li {
  border-top: 1px solid #D2D2d2;
}

header .basket ul li a {
  display: block;
  padding: 14px;
  font-size: 13px;
  color: #0071E3;
  text-decoration: none;
}

header .basket ul li a:hover {
  text-decoration: underline;
}

/* header / search */
header .search-wrap {
  /* 검색바를 배치하는 용도로 사용 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

header .search {
  max-width: 680px;
  margin: 0 auto;
  position: relative;
}

header .search .shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

header .search .textfield {
  position: relative;
}

header .search input {
  width: 100%;
  height: 44px;
  padding: 0 40px;
  border: none;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 17px;
  color: #FFF;
}

header .search .search-icon {
  width: 40px;
  height: 44px;
  background-image: url("../images/header_search.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .4;
}

header .search .search-closer {
  width: 40px;
  height: 44px;
  background-image: url("../images/header_close.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  opacity: .4;
  cursor: pointer;
}

header .search .search-closer:hover {
  opacity: 1;
}

header .search .autocompletes {
  width: 100%;
  padding: 26px 40px 20px;
  /* 위, 좌우, 아래 */
  border-radius: 0 0 18px 18px;
  box-sizing: border-box;
  background-color: #FFF;
  position: absolute;
  top: 44px;
  left: 0;
}

header .search .autocompletes h3 {
  font-size: 12px;
  color: #6E6E6E;
}

header .search .autocompletes ul li a {
  display: block;
  margin: 0 -14px;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  cursor: pointer;
}

header .search .autocompletes ul li a:hover {
  background-color: #f5f5f5;
  color: #0071E3;
}

header.searching ul.menu>li {    /* 일치 선택자: header와 .searching 클래스가 동시 존재하면? */
  display: none;
}

header.searching .search-wrap {  /* 일치 선택자 : header와 .searching클래스 가 동시에 존재하면?> */
  display: block;
}
